<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <title>EV Charging Locations</title>
</head>
<body>
<header class="h-20 bg-black text-white top-0 flex justify-between items-center px-20 z-50 sticky">
    <a href="{% url 'index' %}" class="flex flex-row">
        <div class="text-xl pr-2">
            EV
        </div>
        <div class="text-xl text-green-500">
            ELECTRICSTATIONS

        </div>
    </a>
    <nav>
        <a href="{% url 'list_stations' %}"
           class="px-2 py-1.6 hover:no-underline hover:text-green-400 hover:ease-in-out hover:duration-300 text-lg">Stations</a>
        <a href="{% url 'map' %}"
           class="px-2 py-1.6 hover:no-underline hover:text-green-400 hover:ease-in-out hover:duration-300 text-lg">Map</a>
        <a href="#"
           class="px-2 py-1.6 hover:no-underline hover:text-green-400 hover:ease-in-out hover:duration-300 text-lg">About</a>
    </nav>
    <nav>
        <a href="#"
           class="px-2 py-1.6 hover:no-underline hover:text-green-400 hover:ease-in-out hover:duration-300 text-lg">Register</a>
        <button type="button"
                class=" border border-green-400 hover:bg-green-400 hover:ease-in-out hover:duration-300 font-medium rounded-lg text-md px-3 py-2.5 text-center inline-flex items-center">
            <a href="#" class="text-white hover:no-underline">Log in</a>
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
        </button>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>