{% extends 'base.html' %}

{% block content %}


    <div class="flex justify-center m-10 relative z-0 ">
        <div id="map" style="height: 1000px; width:2000px;"></div>
        {{ stations|json_script:"stations_json" }}
    </div>


    <script>
        var map = L.map('map').setView([54.435049, -3.505543], 5);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        let stations = JSON.parse(document.getElementById('stations_json').textContent)

        stations.forEach(station => {
            L.marker([station.latitude, station.longitude]).addTo(map)
        });

        map.on('click', (e) => {
            let lat = e.latlng.lat
            let longitude = e.latlng.lng
            L.marker([lat, longitude]).addTo(map);


            fetch(`/get-nearest-station?latitude=${lat}&longitude=${longitude}`)
                .then(response => response.json())
                .then(result => {
                    station_coordinates = result.coordinates
                    const roundedDistance = result.distance.toFixed(2);

                    user_coordinates = [lat, longitude]
                    L.routing.control({
                        waypoints: [
                            L.latLng(lat, longitude),
                            L.latLng(station_coordinates[0], station_coordinates[1])
                        ],
                        routeWhileDragging: true
                    }).addTo(map);

                    var popup = L.popup()
                        .setLatLng([lat, longitude])
                        .setContent(`Distance: ${roundedDistance} Km`)
                        .openOn(map);
                })

        })
    </script>

{% endblock %}