{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="map" style="height: 100vh; width:100%;" class="relative z-0"></div>
    {{ stations|json_script:"stations_json" }}


    <script>
        var map = L.map('map').setView([54.435049, -3.505543], 5);
        L.Control.geocoder().addTo(map);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        let stations = JSON.parse(document.getElementById('stations_json').textContent)

        stations.forEach(station => {
            L.marker([station.latitude, station.longitude]).addTo(map)
        });

        // Obtem a localização do usuário
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLat = position.coords.latitude;
                var userLng = position.coords.longitude;

                // Adiciona o marcador do usuário
                L.marker([userLat, userLng]).addTo(map);

                fetch(`/get-nearest-station?latitude=${userLat}&longitude=${userLng}`)
                .then(response => response.json())
                .then(result => {
                    station_coordinates = result.coordinates
                    const roundedDistance = result.distance.toFixed(2);

                    user_coordinates = [userLat, userLng]
                    L.routing.control({
                        waypoints: [
                            L.latLng(userLat, userLng),
                            L.latLng(station_coordinates[0], station_coordinates[1])
                        ],
                        routeWhileDragging: true
                    }).addTo(map);


                    var popup = L.popup()
                        .setLatLng([userLat, userLng])
                        .setContent(`The nearest charging station from your location is: ${result.name} <br> <br> Distance: ${roundedDistance} Km`)
                        .openOn(map);
                })
            });
        }

        map.on('click', (e) => {
            let lat = e.latlng.lat
            let longitude = e.latlng.lng
            L.marker([lat, longitude]).addTo(map);


            fetch(`/get-nearest-station?latitude=${lat}&longitude=${longitude}`)
                .then(response => response.json())
                .then(result => {
                    station_coordinates = result.coordinates
                    const roundedDistance = result.distance.toFixed(2);

                    user_coordinates = [lat, longitude]
                    L.routing.control({
                        waypoints: [
                            L.latLng(lat, longitude),
                            L.latLng(station_coordinates[0], station_coordinates[1])
                        ],
                        routeWhileDragging: true
                    }).addTo(map);

                    var popup = L.popup()
                        .setLatLng([lat, longitude])
                        .setContent(`The nearest charging station from this location is: ${result.name} <br> <br> Distance: ${roundedDistance} Km`)
                        .openOn(map);
                })

        })
    </script>

{% endblock %}