{% extends 'base.html' %}

{% block content %}

    <div id="map_of_station" class="relative z-0" style="height: 100vh; width:100%;"></div>

    <script>
        var map = L.map('map_of_station').setView([{{ station.latitude }}, {{ station.longitude }}], 15);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        L.marker([{{ station.latitude }}, {{ station.longitude }}]).addTo(map)
            .bindPopup(`<p>{{ station.location_name }}</p>`)
            .openPopup();


        // Obtem a localização do usuário
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLat = position.coords.latitude;
                var userLng = position.coords.longitude;

                // Adiciona o marcador do usuário
                L.marker([userLat, userLng]).addTo(map);

                user_coordinates = [userLat, userLng]
                L.routing.control({
                    waypoints: [
                        L.latLng(userLat, userLng),
                        L.latLng({{ station.latitude }}, {{ station.longitude }})
                    ],
                    routeWhileDragging: true
                }).addTo(map);
            });
        }

        map.on('click', (e) => {
            let lat = e.latlng.lat
            let longitude = e.latlng.lng
            L.marker([lat, longitude]).addTo(map);


            user_coordinates = [lat, longitude]
            L.routing.control({
                waypoints: [
                    L.latLng(lat, longitude),
                    L.latLng({{ station.latitude }}, {{ station.longitude }})
                ],
                routeWhileDragging: true
            }).addTo(map);


        })
    </script>
{% endblock %}