{% extends 'base.html' %}
{% block content %}
    <div class="text-center mx-4 my-2">
        <h1 class="text-4xl font-black pt-5 lg:pl-5 pb-3">Charging stations in {{ country }}</h1>
        <h3 class="text-lg text-gray-600 px-5 pb-5">{{ stations_count }} charging stations in {{ country }}.</h3>
    </div>

    <section class="flex flex-wrap justify-center">
        {% for station in stations %}
            <a href="{% url 'station_detail' station_id=station.id %}"
               class="hover:no-underline hover:!text-blue-700 m-6">
                <div class="block w-[300px] lg:w-96 h-56 p-6 border-2 border-gray-100 rounded-lg shadow-xl bg-gray-100 hover:no-underline hover:text-black hover:border-green-500">
                    <h2 class="text-xl font-black">{{ station.location_name }}</h2>
                    <p class="text-lg pt-3 pb-1">{{ station.city_town|default:"Unknown" }}</p>
                    <p class="text-lg">{{ station.country }}</p>
                </div>
            </a>
        {% endfor %}
    </section>




{% endblock %}