{% extends 'base.html' %}
{% load static %}

{% block content %}
    {{ stations|json_script:"stations_json" }}

    <div class="text-center py-10">
        <h1 class="text-5xl font-black px-3 pb-3">Charging Stations</h1>
        <p>1.200 charging stations for electric cars in the United Kingdom</p>
    </div>

    <div id="stations-by-country" class="flex flex-col justify-center items-center pb-20">
    </div>

    <script>
        $(document).ready(function () {
            var stations = JSON.parse(document.getElementById('stations_json').textContent);

            var stationsByCountry = {};
            stations.forEach(function (station) {
                var country = station.country;
                if (!stationsByCountry[country]) {
                    stationsByCountry[country] = [];
                }

                stationsByCountry[country].push(station);
            });

            var $stationsByCountry = $('#stations-by-country');
            var sortedCountries = Object.keys(stationsByCountry).sort(function (a, b) {
                return stationsByCountry[b].length - stationsByCountry[a].length;
            });

            sortedCountries.forEach(function (country) {
                var countryLink = '/stations-by-country/' + country + '/';

                var countryLinkElement = document.createElement('a');
                countryLinkElement.className = 'country-header block w-80 h-28 p-6 m-6 border-2 border-gray-100 rounded-lg shadow-xl bg-gray-100 hover:no-underline hover:text-black hover:border-green-500';
                countryLinkElement.href = countryLink;

                var countryNameElement = document.createElement('span');
                countryNameElement.textContent = country;
                countryNameElement.className = 'text-xl font-bold';
                countryLinkElement.appendChild(countryNameElement);

                var stationCount = stationsByCountry[country].length;
                var stationCountElement = document.createElement('p');
                stationCountElement.textContent = stationCount + ' charging stations';
                stationCountElement.className = 'text-base font-normal';
                countryLinkElement.appendChild(stationCountElement);

                $stationsByCountry.append(countryLinkElement);
            });
        });
    </script>







{% endblock %}