{% extends 'base.html' %}
{% load static %}

{% block content %}
    {{ stations|json_script:"stations_json" }}

    <div id="top-link" class="text-center pt-10 pb-2">
        <h1 class="text-5xl font-black px-3 pb-3">Charging Stations</h1>
        <p class="px-2">{{ stations_count }} charging stations in the United Kingdom</p>
    </div>

    <div id="stations-by-country" class="flex flex-col justify-center items-center pb-20">
    </div>

    <script src="{% static 'javaScript/stations.js' %}"></script>
{% endblock %}